:root {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  overscroll-behavior: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sofia-pro, sans-serif;
}

body {
  text-rendering: optimizeLegibility;
  --pink-main: #f6b6c6;
  --blue-main: #6ac3f3;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

h2 {
  font-weight: 400;
}

.header__bg {
  z-index: 6;
  position: relative;
  width: 100%;
}

#header {
  top: 0;
  z-index: 6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color: rgba(255, 255, 255, 0.87);
  padding: 0 1rem;
  max-width: 100%;
}

#header > h1,
#header > nav > span {
  cursor: pointer;
}

#vinyl-sleeve {
  width: 100vw;
  height: 90vw;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  box-shadow: rgba(47, 2, 2, 0.287) -6px -2px 16px 0px,
    rgba(0, 0, 0, 0.161) -3px -3px 6px 0px inset,
    rgba(0, 0, 0, 0.124) -3px -3px 6px 1px inset;
}

#vinyl {
  height: auto;
  width: 100vw;
  max-width: 100%;
  border-radius: 50%;
  box-shadow: rgba(2, 27, 48, 0.264) 6px 2px 16px 0px,
    rgba(47, 2, 2, 0.383) -6px -2px 16px 0px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

h2.ab {
  font-weight: 500;
}

.artists {
  background-color: transparent;
}

.songs {
  background-color: transparent;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

button.right {
  position: absolute;
  right: 0;
  top: 35vh;
}

button.left {
  position: absolute;
  left: 0;
  top: 35vh;
  z-index: 1;
}

.flex-col-top {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  position: absolute;
  top: -4rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.flex-col-bottom {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  position: absolute;
  bottom: -4rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  scale: -1;
}

.sub {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -1px;
}

h2 {
  margin: 0;
  line-height: 1;
}

.has-float-label {
  font-size: 110%;
  display: block;
  position: relative;
}

.has-float-label > span {
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  font-size: 100%;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.has-float-label input:placeholder-shown:not(:focus) + * {
  top: 1em;
  opacity: 1;
}

::placeholder {
  color: transparent;
}

form {
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
}

input {
  background-color: transparent;
  margin: 1rem 0;
  color: rgba(0, 0, 0, 0.714);
  border: none;
}

input,
select {
  width: 100%;
  margin-bottom: 0.5rem;
}

button .sticker {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.sticker {
  width: 180px;
  height: 60px;
  background: linear-gradient(
    18deg,
    rgb(241, 241, 241) 86%,
    rgba(33, 1, 1, 0.138) 80%,

    rgba(0, 0, 0, 0.017) 100%
  );
  padding-top: 40px;
  position: absolute;
  bottom: 0;
  margin-bottom: 60px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.sticker {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.714);
}

.sticker:before {
  content: "";
  position: absolute;
  top: -22px;
  left: 111px;
  width: 140px;
  height: 44px;
  background: linear-gradient(
    to bottom left,
    transparent 75%,
    rgb(241, 241, 241) 75%,
    rgb(241, 241, 241) 100%
  );
  filter: drop-shadow(0px 3px 3px rgba(130, 130, 130, 1));
  border-radius: 10px;
}

.sticker > #center {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 35%;
}

.button__container {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-window {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  & > div {
    border-radius: 1rem;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    color: black;
  }
}

.error__text {
  color: rgb(255, 0, 0);
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  #vinyl-sleeve {
    width: 95vw;
    height: 70vw;
  }

  #vinyl {
    width: 95vw;
    max-width: 100%;
  }
}
@media screen and (min-width: 600px) and (orientation: landscape) {
  #vinyl-sleeve {
    width: 90vh;
    height: 42.5vh;
  }

  #vinyl {
    width: 85vh;
    max-width: 100%;
    bottom: 0vh;
  }
}

@media screen and (min-width: 800px) and (orientation: portrait) {
  #vinyl-sleeve {
    width: 80vw;
    height: 58vw;
  }

  #vinyl {
    width: 80vw;
    max-width: 100%;
  }
}

@media screen and (min-width: 800px) and (orientation: landscape) {
  #vinyl-sleeve {
    width: 60vh;
    height: 50vh;
  }

  #vinyl {
    width: 60vh;
    max-width: 100%;
  }

  button.left,
  button.right {
    position: relative;
    left: 0;
    top: -15vh;
    right: 0;
    height: fit-content;
  }

  .material-symbols-outlined {
    font-size: 60px;
  }

  #sleeve-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    margin-left: 6rem;
    bottom: 3vh;
    width: 70vh;
    height: 50vh;
  }

  .checkinput__container {
    margin: auto;
    height: fit-content;
    width: 30vw;
    padding: 1rem;
  }

  .checkinput__container > ul {
    list-style-type: none;
    padding: 0;
  }

  #checkinput__input {
    font-size: 1.5rem;
  }

  .sticker {
    margin-top: 30px;
    width: 180px;
    height: 60px;
    background: linear-gradient(
      24deg,
      rgb(241, 241, 241) 83%,
      rgba(33, 1, 1, 0.138) 83%,

      rgba(0, 0, 0, 0.017) 100%
    );
    padding-top: 40px;
    position: relative;
    border-radius: 10px;
    text-align: center;
    color: black;
  }
  .sticker:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 126px;
    width: 110px;
    height: 50px;
    background-color: red;
    background: linear-gradient(
      to bottom left,
      transparent 75%,
      rgb(241, 241, 241) 75%,
      rgb(241, 241, 241) 100%
    );
    filter: drop-shadow(0px 3px 3px rgba(130, 130, 130, 1));
    border-radius: 10px;
  }

  .sticker > #center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 35%;
  }

  .card {
    width: 100px;
    height: 100px;
    background-color: white;
  }

  svg {
    display: inline;
  }

  .artistInfo__container {
    width: 50%;
    padding: 3rem;
    background-color: black;
    border-radius: 5px;
  }

  .flex__container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 2.4rem);
    overflow-y: hidden;
    width: 100vw;
  }

  .navbar {
    z-index: 4;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    position: relative;
  }

  .main__window {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    height: 100%;
  }

  .left__container {
    max-width: 20vw;
    min-width: 20vw;
    z-index: 3;
    transition: margin 0.5s;
    display: flex;
    flex-flow: column;
    background-color: #fff;
  }

  .data__col {
    width: 100%;
    z-index: 2;
  }

  .graph {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
  }

  .svg-container {
    z-index: 1;
    position: fixed;
    left: 0;
    height: calc(100vh - 2.4rem);
    width: 100vw;
  }

  .main-graph {
    height: 100%;
    width: 100%;
    fill-opacity: 0.8;
    background-color: #fff;
  }

  .right__container {
    max-width: 25vw;
    min-width: 25vw;
    z-index: 3;
    background-color: #fff;
  }
}
